#comment-icon{
  display:inline;
  padding: .3em .3em;
  margin: 0 .2em;
  border-radius: .3em;
  border: .5px solid gray;
}

#comment-icon :hover{
  display: inline;
  padding: .3em .3em;
  background: gray;
  border-radius: .3em;
}

#comment-username {
  display: inline-flex;
  align-items: center;
}

#user-name-text {
  margin: .4em .4em ;
  text-align:left;
  font-weight: bold;
  font-size: 1.1em;
}

#timestamp-text {
  margin: .4em .4em ;
  text-align:left;
  color: gray;
  font-size: .8em;
}

#comment-div {
  margin: .6em .3em .9em .4em;
  padding: .4em .6em;
  width:100%;
  min-height: 4em;
  text-align: left;
  border: .5px solid rgba(34,36,38,.15);
  border-radius: .3em;
}

#smaller-button {
  padding: .6em 1.5em .6em;
  margin-right: 2em;
}

#comment-paragraph {
  margin: .6em .8em;
}

#comment-form-div {
  border: .5px solid rgba(34,36,38,.15);
}
